<div class="container" [ngClass]="{ started: hasStarted }">
  <fs-header
    [name]="name"
    [actions]="actions"
    [closed]="closed"
    [started]="started">
  </fs-header>
  <div class="pdf">
    <mat-sidenav-container>
      <mat-sidenav
          [disableClose]="false"
          [mode]="sidenav.mode"
          [opened]="sidenav.opened"
          [position]="'start'"
          [fixedInViewport]="false">
        <div class="sidenav-container">
          <ng-container *ngIf="field">
            <fs-field-input 
              [field]="field"
              (closed)="sidenav.opened = false">
            </fs-field-input>
          </ng-container>
        </div>
      </mat-sidenav>
      <mat-sidenav-content #sidenavContainer>
        <fs-pdf-viewer 
          [pdf]="pdf"
          [zoom]="zoom"
          (pageRendered)="pageRendered($event)">
        </fs-pdf-viewer>
      </mat-sidenav-content>
    </mat-sidenav-container>    
  </div>
</div>
