<form fsForm [submit]="submit" [dirtySubmitButton]="false" [autocomplete]="false" [confirm]="false">
  <div class="heading">
    {{label}}
    @if (field.required) {
      <span
        class="required">
        Required
      </span>
    }
  </div>
  @if (description) {
    <div
      class="description"
      [innerHTML]="description">
    </div>
  }

  @if (!field.readonly) {
    @switch (field.type) {
      @case (FieldType.LongText) {
        <mat-form-field>
          <textarea
            #input
            matInput
            [required]="field.required"
            [(ngModel)]="field.value"
            (ngModelChange)="changeInput()"
            (blur)="blur()"
            (keydown)="inputKeyDown($event)"
            name="fieldInput">
          </textarea>
        </mat-form-field>
      }
      @case (FieldType.ShortText) {
        @switch (field.format) {
          @case (FieldFormat.Currency) {
            <mat-form-field>
              <input
                #input
                matInput
                [attr.autocomplete]="'off'"
                [required]="field.required"
                [(ngModel)]="field.value"
                (ngModelChange)="changeInput()"
                (blur)="blur()"
                (keydown)="inputKeyDown($event)"
                [fsMask]="true"
                format="currency"
                name="shortText">
              <div matPrefix>$ </div>
            </mat-form-field>
          }
          @case (FieldFormat.Number) {
            <mat-form-field>
              <input
                #input
                matInput
                [required]="field.required"
                [attr.autocomplete]="'off'"
                [attr.maxLength]="field.maxLength"
                [(ngModel)]="field.value"
                (ngModelChange)="changeInput()"
                (blur)="blur()"
                (keydown)="inputKeyDown($event)"
                fsMaskNumber
                [scale]="10"
                [signed]="true"
                name="shortText">
            </mat-form-field>
          }
          @default {
            <mat-form-field>
              <input
                #input
                matInput
                [attr.autocomplete]="'off'"
                [required]="field.required"
                [attr.maxLength]="field.maxLength"
                [(ngModel)]="field.value"
                (ngModelChange)="changeInput()"
                (blur)="blur()"
                (keydown)="inputKeyDown($event)"
                name="shortText">
            </mat-form-field>
          }
        }
      }
      @case (FieldType.Date) {
        <mat-form-field>
          <input
            #input
            matInput
            [required]="field.required"
            [attr.autocomplete]="'off'"
            fsDatePicker
            [(ngModel)]="field.value"
            (ngModelChange)="changeInput()"
            (blur)="blur()"
            (keydown)="inputKeyDown($event)"
            name="fieldDate">
        </mat-form-field>
      }
      @case (FieldType.RadioButton) {
        <fs-radio-group
          [(ngModel)]="radioButtonField"
          name="fieldRadioButton"
          [required]="field.required"
          orientation="vertical"
          (ngModelChange)="checkRadioButtonField(field.name, $event)">
          @if (!field.required) {
            <mat-radio-button
              [value]="null">
              Unspecified
            </mat-radio-button>
          }
          @for (radioButtonField of radioButtonFields; track radioButtonField) {
            <mat-radio-button
              [value]="radioButtonField">
              {{radioButtonField.label}}
            </mat-radio-button>
          }
        </fs-radio-group>
      }
      @case (FieldType.Checkbox) {
        <mat-checkbox
          name="fieldRadioButton"
          [(ngModel)]="field.value"
          (ngModelChange)="checkCheckboxField(field, $event)">
          {{ field.label }}
        </mat-checkbox>
      }
      @case (FieldType.Signature) {
        <fs-label-field class="fs-form-wrapper">
          <fs-signature
            name="fieldSignature"
            [required]="field.required"
            [heightRatio]=".5"
            [(ngModel)]="field.value"
            (ngModelChange)="change()">
          </fs-signature>
          <fs-label-message class="fs-form-message"></fs-label-message>
        </fs-label-field>
      }
    }
  } @else {
    <fs-field-render
      [field]="field">
    </fs-field-render>
  }

  <ng-template #readonly>
    <fs-field-render
      [field]="field">
    </fs-field-render>
  </ng-template>

  <div class="buttons">
    <button
      mat-button
      (click)="back()"
      type="button">
      Back
    </button>
    <button
      mat-button
      color="primary"
      type="submit">
      Continue
    </button>
    <button
      class="close"
      mat-button
      (click)="close()"
      type="button">
      Close
    </button>
  </div>
</form>
