<div class="header">
  <div class="header-content">
    <div class="heading">
      {{name}}
      <ng-container *ngTemplateOutlet="progress"></ng-container>
    </div>
    <div class="actions">
      @if (hasStarted) {
        <ng-container *ngTemplateOutlet="progress"></ng-container>
      }
      @if (hasStarted) {
        @if (completed < total) {
          <button
            type="button"
            color="primary"
            mat-raised-button
            (click)="continue()">
            Continue
          </button>
        }
        @if (completed >= total) {
          <button
            type="button"
            color="primary"
            mat-raised-button
            (click)="finish()">
            Finish
          </button>
        }
      }
      @if (!hasStarted) {
        <button
          type="button"
          color="primary"
          class="start"
          mat-raised-button
          (click)="start()">
          {{mobile ? 'Start' : 'Get Started'}}
        </button>
      }
      @if (!mobile) {
        @for (action of actions; track action) {
          <button
            type="button"
            [color]="action.color"
            mat-raised-button
            (click)="action.click()">
            {{action.label}}
          </button>
        }
      }
      @if (mobile) {
        <fs-menu>
          @for (action of actions; track action) {
            <ng-template
              fs-menu-item
              (click)="action.click()">
              {{action.label}}
            </ng-template>
          }
        </fs-menu>
      }
    </div>
  </div>
</div>

<ng-template #progress>
  <div class="progress">
    @if (total) {
      {{completed}} of {{total}}
      <div class="percent">{{completedPercent}}% Complete</div>
    }
  </div>
</ng-template>